<footer class="page-footer font-small bg-secondary pt-4">

    <div class="container">
        
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Me siga nas redes sociais</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                
                <ul class="social-network">
                    <li>
                        <a href="https://www.linkedin.com/in/rafaellasisantos/" target="_blank" class="icoLinkedin">
                            <i class="fa fa-linkedin p-3" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.instagram.com/rafaellasisantos/" target="_blank" class="icoInstagram">
                            <i class="fa fa-instagram p-3" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://github.com/santosrafaella" target="_blank" class="icoGitHub">
                            <i class="fa fa-github p-3" aria-hidden="true"></i>
                        </a>
                    </li>

                </ul>

            </div>
        </div>
    </div>

    <div class="footer-copyright bg-secondary text-center py-3">
        <span class="text-light"> © 2022 - Rafaella Santos | Todos os Direitos Reservados </span>
        
    </div>


</footer>