ul.social-network{
    list-style: none;
    padding: 0;
  }
  
  ul.social-network li{
    display: inline;
    margin: 0;
    padding: 5px;
    
  }
  
  .fa{
    font-size: 25pt;
    color: white;
    padding: 10px;
    width: 15px;
    height: 15px
  }

.fa-linkedin:hover{
    color: #0072b1;
    
  }

  .fa-instagram:hover{
    color: #C13584;
  }

.fa-github:hover {
    color: #171515;
}